html
  include head.pug

  body
    .container
      include nav.pug
      .hero
        div
          h1.logo Georgi Nikolov
          h2.title Frontend Developer
        ul.social
          li
            a(href="https://twitter.com/georgiNikoloff" target="_blank") Twitter
          li
            a(href="https://github.com/gnikoloff" target="_blank") Github
          li
            a(href="https://codepen.io/gbnikolov" target="_blank") Codepen
      
      h1 About
      div.about-wrapper
        aside
          img(
            src=document.data.mugshot.url
            alt=document.data.mugshot.alt
          )
        main !{PrismicDOM.RichText.asHtml(document.data.text, linkResolver)}
      div !{PrismicDOM.RichText.asHtml(document.data.experience, linkResolver)}

      a(href="/").back-link Back

  include footer.pug
  