html
  include head.pug

  body
    .container
      include logo.pug
      include nav.pug
      +navMixin(false, "/")

      h1 About
      div.about-wrapper
        main
          img#mugshot(
            src=document.data.mugshot.url
            alt=document.data.mugshot.alt
          )
          | !{PrismicDOM.RichText.asHtml(document.data.text, linkResolver)}
      div !{PrismicDOM.RichText.asHtml(document.data.experience, linkResolver)}

      a(href="/").back-link Back

  include footer.pug
  