.container
  footer.app-footer
    div © Georgi Nikolov #{new Date().getFullYear()}
    ul.social
      li
        a(href="https://twitter.com/georgiNikoloff" target="_blank") Twitter
      li
        a(href="https://github.com/gnikoloff" target="_blank") Github
      li
        a(href="https://codepen.io/gbnikolov" target="_blank") Codepen

script(src="/index.js")