html
  include head.pug

  body
    .container
      include nav.pug

      div
        h1 Disclaimer for georgi-nikolov.com
        br
        h3 Created Tue 19 December 2022

        p
          | If you require any more information or have any questions about my site&apos;s disclaimer, please feel free to contact me by using the&nbsp;
          a(href="/contact") contact form.
        br
        h2 Disclaimers for Georgi Nikolov
        p
          | All the information on this website -&nbsp;
          a(href="https://georgi-nikolov.com") https://georgi-nikolov.com
          
          | &nbsp;- is published in good faith and for general information purpose only. Georgi Nikolov does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Georgi Nikolov), is strictly at your own risk. Georgi Nikolov will not be liable for any losses and/or damages in connection with the use of my website.
        p
          | From my website, you can visit other websites by following hyperlinks to such external sites. While I strive to provide only quality links to useful and ethical websites, I have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before I have the opportunity to remove a link which may have gone &apos;bad&apos;.
        p
          | Please be also aware that when you leave my website, other sites may have different privacy policies and terms which are beyond mine control. Please be sure to check the Privacy Policies of these sites as well as their &quot;Terms of Service&quot; before engaging in any business or uploading any information.
        br
        h2 Consent
        p
          | By using my website, you hereby consent to my disclaimer and agree to its terms.
        br
        h2 Update
        p
          | Should I update, amend or make any changes to this document, those changes will be prominently posted here.


      a(href="/").back-link Back

  include footer.pug
  