.hero
  h1.logo Georgi Nikolov
  h2.title 
    | Software Engineer
  a.print-email(href="mailto:connect@georgi-nikolov.com") connect@georgi-nikolov.com
  address.hero-address
    | Torstraße 179
    span.sep &nbsp;/&nbsp;
    | 10115 Berlin
    span.sep &nbsp;/&nbsp;
    | Germany