.nav.nav-outer
  ul.nav-inner
    li(class=activePage === 'home' ? 'active' : '')
      a(href="/") Works
    li(class=activePage === 'speaking' ? 'active' : '')
      a(href="/speaking") Speaking
    li(class=activePage === 'blog' ? 'active' : '')
      a(href="/blog") Blog
    li(class=activePage === 'about' ? 'active' : '')
      a(href="/about") About
    li
      a(href="/feed.rss") RSS