.nav
  ul.nav
    li
      a(href="/") Works
    li
      a(href="/speaking") Speaking
    li
      a(href="/blog") Blog
      
    li
      a(href="/about") About
    li
      a(href="/feed.rss") RSS