html
  include head.pug

  body
    .container
      include logo.pug

      h1 🚧 Under Construction
      p
        | New website coming soon! Email:&nbsp;
        a(href="mailto:connect@georgi-nikolov.com") connect@georgi-nikolov.com
        br
        br
        | — Posted December 10, 2025

  //- include footer.pug
  