* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  fill: currentColor;
  padding: 5rem 0;
}

// ul {
//   padding: 0;
//   margin: 0;
// }

p,
li {
  line-height: 1.6rem;
  color: rgba(black, 0.76);
}
// p:empty {
//   min-height: 1.6rem;
// }

li {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

code {
  // background: rgba(black, 0.8);
  // color: white;
  padding: 1px 3px;
  border-radius: 2px;
}

pre {
  overflow: auto;
  padding: 8px;
  box-sizing: border-box;
  // background: #eee;
  p {
    margin: 0;
    color: inherit;
  }
}

.inline-pre {
  padding: 0 !important;
  background: none !important;
  display: inline !important;
}

img {
  max-width: 100%;
  &[src*='.gif'] {
    width: auto !important;
  }
}

.block-img {
  img {
    display: block;
    margin: 0 auto;
  }
}

[data-oembed] {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 49.06%;
  overflow: hidden;
  margin-top: 2rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  @media (min-width: 880px) {
    max-width: 768px;
    padding: 0;
  }
}

.logo {
  font-size: 1.75rem;
  margin-bottom: 0.35rem;
}

.title {
  color: rgba(black, 0.76);
  font-size: 1rem;
}

.year-title {
  font-size: 2.25rem;
  // margin-left: -12px;
  // margin-right: -12px;
}

.nav-outer {
  overflow: auto;
}

.nav-inner {
  white-space: pre;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.nav {
  padding-left: 0;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  li {
    display: inline-block;
    list-style: none;
    margin-left: 24px;
    &.active {
      font-weight: 600;
    }
    &:after {
      content: '/';
      position: relative;
      right: -12px;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
  }
}

.hero {
  margin-bottom: 6rem;
}

.preview {
  padding: 4px 12px;
  display: inline-block;
  width: 100%;
  @media (min-width: 466px) {
    width: 50%;
  }
  @media (min-width: 767px) {
    width: 33.33%;
  }
  a {
    text-decoration: none;
  }
}

.project-preview-image {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  &.inView {
    opacity: 1;
  }
}

.preview-title {
  margin-bottom: 0;
}

.preview-type {
  margin-top: 0.5rem;
  color: rgba(black, 0.92);
}

.works {
  margin-left: -12px;
  margin-right: -12px;
  @media (min-width: 860px) {
  }
}

.year-wrapper {
  padding: 2rem 0;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}

.preview-type {
  color: rgba(black, 0.8);
  text-transform: capitalize;
}

.preview-image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  overflow: hidden;
  background: rgba(black, 0.08);
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.single-project-title {
  font-size: 0.85rem;
  @media (min-width: 600px) {
    font-size: initial;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.app-footer {
  padding: 5rem 0 3rem 0;
}

.address {
  font-style: normal;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.62);
}

.footer-wrapper {
  @media (min-width: 580px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.copyright {
  margin-bottom: 1.5rem;
  @media (min-width: 600px) {
    margin-bottom: 0;
  }
}

.social {
  padding-left: 0;
  li {
    display: inline-block;
    list-style: none;
    margin-left: 24px;
    &:after {
      content: '/';
      position: relative;
      right: -12px;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
  }
}

.single-project-footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-link {
  margin-top: 5rem;
  display: block;
}

.about-wrapper {
  @media (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    aside {
      width: 40%;
    }
    main {
      width: 55%;
    }
  }
}

.blog-wrapper {
  line-height: 3rem;
  padding-left: 0;
  h1 {
    line-height: 1.25;
    margin-bottom: 0;
  }
  h5 {
    margin-top: -0.75rem;
  }
}

.article-preview {
  svg {
    path {
      fill: blue;
    }
  }
  a:visited {
    svg {
      path {
        fill: purple;
      }
    }
  }
}

.article-preview-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.external-resource-name {
  display: flex;
  align-items: center;
  h5 {
    margin-left: 6px;
  }
}

.single-work {
  h4 {
    margin-bottom: -10px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(black, 0.72);
  }
}

.single-blog-main {
  margin-top: 4rem;
}

.cp_embed_wrapper {
  position: relative;
  height: 0;
  padding-top: 75%;
  overflow: hidden;
  @media (min-width: 720px) {
    margin-left: calc(-100vw / 2 + 420px);
    margin-right: calc(-100vw / 2 + 420px);
  }

  iframe {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.contact-wrapper {
  label {
    display: block;
  }
  textarea {
    min-height: 250px;
  }
}

.contact-input {
  position: relative;
  padding: 18px 14px;
  border: none;
  border-bottom: 1px solid #999;
  background: #eee;
  &.submit-btn {
    border: none;
    background: #111;
    color: #fff;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 3rem;
  label {
    margin-bottom: 0.5rem;
  }
}

.inline-form-group {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0rem;
    margin-left: 0.5rem;
  }
}

.full-width {
  width: 100%;
}

#budget-group {
  display: none;
}

#budget {
  max-width: 108px;
}

.email-send-loader-wrapper {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease;
  &.visible {
    opacity: 1;
  }
}

.email-send-loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10px;
  background: #111;
  animation: load-send-email 1s infinite ease-in-out;
}

@keyframes load-send-email {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

#contact-form {
  margin-top: 3rem;
}

.contact-form-success {
  display: none;
  text-align: center;
}

.legal {
  margin: 7rem 0 2rem 0;
  @media (min-width: 580px) {
    // display: flex;
    // justify-content: flex-end;
  }
}

.legal a {
  color: rgba(0, 0, 0, 0.62);
}

.legal li {
  &:after {
    color: rgba(0, 0, 0, 0.62);
  }
}
